<!DOCTYPE html>

<head>
  <meta charset="utf-8" />
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css"
    integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous" />
    <script src="./lib/js/socket.js"></script>
    <script src="./lib/js/jquery.js"></script>
    <script src="./lib/js/all.js"></script>
  <link rel="stylesheet" href="/lib/css/home.css" />
  <script src="./lib/js/home.js" defer></script>
</head>

<body>
  <div class="arts__body___3acI_-camelCase">
    <div class="styles__holder___1jARs-camelCase">
      <div class="styles__headerContainer___sjd3P-camelCase">
        <img loading="lazy" src="/content/homeBlooks.png" alt="Blooks" class="styles__headerImage___3p3rE-camelCase"
          draggable="false" />
        <div class="styles__background___2J-JA-camelCase">
          <div class="styles__blooksBackground___3oQ7Y-camelCase"
            style="background-image: url('/content/background.png');"></div>
        </div>
        <div class="styles__headerSide___1r1-b-camelCase"></div>
        <div class="styles__topHeaderContainer___1-N-g-camelCase">
          <div class="styles__logoText___1eUDm-camelCase">name</div>
        </div>
        <div class="styles__welcomeContainer___2BqW8-camelCase">
          <div class="styles__welcomeText___30V14-camelCase">welcome</div>
          <div class="styles__welcomeDesc___OyjZk-camelCase">description<br></div>
          <a class="styles__welcomeButton___39pgl-camelCase" href="/register">Register</a>
          <div class="styles__pronounceButton___3lV1b-camelCase" role="button" tabindex="0"><i class="fas fa-volume-up"
              aria-hidden="true"></i>&nbsp; Pronunciation ("pronunciation")</div>
        </div>
      </div>
      <div class="styles__topButtonContainer___3TeMv-camelCase"><a class="styles__loginButton___1e3jI-camelCase"
          href="/login.html">Login</a><a class="styles__signUpButton___3_ch3-camelCase" href="/register">Register</a></div>
    </div>
    <div class="styles__copyrightInformation___f4Dky-camelCase">copyright</div>
    <div class="styles__versionInformation___rk3A2-camelCase">version</div>
  </div>
</body>