
<!DOCTYPE html>

<head>
  <meta charset="utf-8" />
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css"
    integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous" />
  <link rel="stylesheet" href="/lib/css/auth.css" />
  <link rel="stylesheet" href="/lib/css/game.css" />

  <!-- <script src="/lib/js/auth.js" defer type="37b635e50a00653107018fa4-text/javascript"></script>
  <script src="/lib/js/all.js" defer type="37b635e50a00653107018fa4-text/javascript"></script>
  <script src="/lib/js/jquery.js" type="37b635e50a00653107018fa4-text/javascript"></script> -->

  <script src="./lib/js/socket.js"></script>
    <script src="./lib/js/jquery.js"></script>
    <script src="./lib/js/all.js"></script>
    <script src="./lib/js/auth.js" defer></script>
  <meta name="keywords"
    content="blooket, blacket, private server, xotic, blacket private server, blooket private server">
</head>

<body>
  <div class="arts__body___3acI_-camelCase" style="background-color: #4f4f4f;">
    <div class="styles__header___22Ne2-camelCase"><a class="styles__blooketText___1pMBG-camelCase" href="/">name</a><a
        class="styles__headerRight___nPb83-camelCase" href="/login">Login</a></div>
    <div class="arts__regularBody___1TM6E-camelCase">
      <div class="styles__background___2J-JA-camelCase">
        <div class="styles__blooksBackground___3oQ7Y-camelCase"
          style="background-image: url('/content/background.png');"></div>
      </div>
      <form class="styles__container___2VzTy-camelCase">
        <div class="styles__containerHeader___19fyc-camelCase">Register</div>
        <div class="styles__inputContainer___t9pz0-camelCase styles__inputFilled___3FO6M-camelCase">
          <i class="styles__icon___358UQ-camelCase fas fa-user styles__iconFilled___1uSeW-camelCase"
            aria-hidden="true"></i>
          <input class="styles__input___2XTSp-camelCase" placeholder="Username" type="text" autocomplete="username"
            value="" />
        </div>
        <div class="styles__inputContainer___t9pz0-camelCase styles__inputFilled___3FO6M-camelCase">
          <i class="styles__icon___358UQ-camelCase fas fa-lock styles__iconFilled___1uSeW-camelCase"
            style="font-size: 23px;" aria-hidden="true"></i>
          <input class="styles__input___2XTSp-camelCase" placeholder="Password" type="password"
            autocomplete="current-password" value="" />
        </div>
        <input type="submit" class="styles__button___2hNZo-camelCase styles__buttonFilled___23Dcn-camelCase"
          tabindex="0" value="Register" />
      </form>
    </div>
  </div>
</body>